
/* #splide01-list li{
    width: unset !important;
    text-align: left !important;
    height: unset !important;
}



#splide01-list li img{
    width: 40% !important;
    margin: 0 auto;
} */

/* .splide__slide img {
    width: 100%;
    height: auto;
  } */